__pycache__/
*.pyc
.venv/
.env
credentials.json
*.log
.DS_Store
.vscode/
outputs/
outputs_verify/
wrong_words.csv
TARGET1900.csv.rtf
config.py
log.txt
answers/*
TARGET1900.csv

# local/debug scripts
main.py
generate_verify.py
send_line.py
usecases/grade_test.py
usecases/generate_test.py
usecases/handle_event.py
